// babel-loader 配置
{
    "env":{
        "development": {
            "plugins": ["dynamic-import-node"]
          }
    },
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-runtime"
    ]
}
