.b-alerts {
    width: 350px;
    /deep/.el-message-box__header {
        padding-bottom: 0 !important;
        padding-top: 15px;
        .el-icon-warning {
            padding: 0;
            margin: 0;
            font-size: 70px!important;
        }
    }
}